.bank_white {
    color: #FFFFFF;
}

.bank_orange {
    color: #F16531;
}

.bank_blue {
    color: #104684;
}

.bank_light_orange {
    color: #F8D7C8;
}

.bank_light_blue {
    color: #DEE8F3;
}

.bank_light_grey {
    color: #eaeaea;
}

.bank_black {
    color: #000000;
}