<h2>Recent payments (not implemented):</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">Payee</th>
			<th scope="col">Amount</th>
			<th scope="col">Date</th>
			<th scope="col"></th>
		</tr>
		</thead>
		<tbody>
		<tr class="odd">
			<td><a href="" title="not implemented">Parents</a></td>
			<td>$200</td>
			<td>22.03.2015</td>
			<td>
				<a href="" title="Repeat (not implemented)"><span
						class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
			</td>
		</tr>
		<tr class="even">
			<td><a href="" title="not implemented">School</a></td>
			<td>$1200</td>
			<td>15.05.2015</td>
			<td>
				<a href="" title="Repeat (not implemented)"><span
						class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
			</td>
		</tr>
		</tbody>
	</table>
</div>

