<div class="row">
	<div class="grid_4">
		Your balance is {{getBalance()}}
	</div>
</div>
<div class="row">
	<div class="grid_4" ng-form="paymentForm">

		<fieldset>
			<label for="paymentAmount">Amount</label>
			<input type="number" id="paymentAmount" ng-model="newPayment.amount" placeholder="Amount" ng-min="1" ng-required="true"/>
		</fieldset>
		<fieldset>
			<label for="paymentDate">Date</label>
			<input type="date" id="paymentDate" ng-model="newPayment.date" placeholder="Date" ng-required="true"/>
		</fieldset>
		<fieldset>
			<label for="paymentPayee">Payee</label>
		    <span class="select">
		      <select id="paymentPayee" name="dropdown" ng-model="newPayment.payeeId" ng-required="true" />
	          <option ng-repeat="payee in getPayees()" value="{{payee.id}}">{{payee.name}}</option>
			    </select>
        </span>
		</fieldset>

		<a href="" ng-click="sendPayment()" class="btn small" ng-class="{'info': paymentForm.$valid}">Make
			payment</a>

	</div>
</div>

<table>
	<thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Bank</th>
		<th scope="col">IBAN</th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="payment in getPayments()" ng-class-odd="odd" ng-class-even="even">
		<td>{{payee.name}}</td>
		<td>{{payee.bank}}</td>
		<td>{{payee.iban}}</td>
		<td><a href="" ng-click="removePayee(payee)" class="btn small error">remove</a></td>
	</tr>
	</tbody>
</table>

