<h4>Create payment</h4>

<div class="form-horizontal" ng-form="paymentForm">

	<div class="control-group">
		<label class="control-label" for="paymentAmount">
			Amount (up to <strong>{{getBalance()|currency}}</strong>)</label>

		<div class="controls">
			<div class="input-prepend">
				<span class="add-on">$</span>
				<input class="input-small" type="number" id="paymentAmount" ng-model="newPayment.amount" placeholder="Amount"
				       ng-min="1" ng-required="true"/>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="paymentDate">Date</label>

		<div class="controls">
			<input type="date" id="paymentDate" ng-model="newPayment.date" placeholder="Date"
			       ng-required="true"/>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="paymentPayee">Payee</label>

		<div class="controls">
	    <span class="select" ng-show="getPayees().length > 0">
	      <select id="paymentPayee" name="dropdown" ng-model="newPayment.payeeId"
	              ng-required="true"/>
          <option ng-repeat="payee in getPayees()" value="{{payee.id}}">{{payee.name}}</option>
		    </select>
      </span>
		</div>

		<div class="controls">
			<a href="#/payees">Create payee</a>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<a href="" ng-click="sendPayment()" class="btn btn-primary"
			   ng-class="{'disabled': !paymentForm.$valid}">Make payment</a>
		</div>
	</div>

</div>
